.DS_Store
xcuserdata
xcuserstate
/SwiftFortuneParser/.idea/workspace.xml
/SwiftFortuneParser/.idea/tasks.xml
/SwiftFortuneParser/.idea/markdown-navigator/profiles_settings.xml
/SwiftFortuneParser/.idea/misc.xml
